@use '../abstracts' as *;

.header {
  background-color: $color-dark;
  color: $color-white;
  padding: $spacing-md 0;
  box-shadow: 0 2px 4px rgba($color-black, 0.1);

  a {
    color: $color-white;

    &:hover {
      color: $color-primary;
    }
  }
}
