@use 'sass:color';
@use '../abstracts' as *;

.button {
  display: inline-block;
  padding: $spacing-sm $spacing-md;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: 4px;
  font-size: $font-size-base;
  font-weight: 600;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: color.adjust($color-primary, $lightness: -10%);
  }

  &:active {
    transform: scale(0.98);
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: color.adjust($color-secondary, $lightness: -10%);
    }
  }

  &--success {
    background-color: $color-success;

    &:hover {
      background-color: color.adjust($color-success, $lightness: -10%);
    }
  }

  &--danger {
    background-color: $color-danger;

    &:hover {
      background-color: color.adjust($color-danger, $lightness: -10%);
    }
  }
}
