@import '../abstracts/variables';
@import '../abstracts/mixins';

.button {
  display: inline-block;
  padding: $spacing-sm $spacing-md;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: 4px;
  font-size: $font-size-base;
  font-weight: 600;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: darken($color-primary, 10%);
  }

  &:active {
    transform: scale(0.98);
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }

  &--success {
    background-color: $color-success;

    &:hover {
      background-color: darken($color-success, 10%);
    }
  }

  &--danger {
    background-color: $color-danger;

    &:hover {
      background-color: darken($color-danger, 10%);
    }
  }
}
