// Helper function to convert px to rem
@function rem($pixels) {
  @return ($pixels / 16) * 1rem;
}

// Calculate contrast color
@function contrast-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}
