// Import all style layers with @use
@use './abstracts' as *;

@use './base/reset';
@use './base/base';

@use './layout/page';
@use './layout/header';
@use './layout/footer';

@use './components/button';
@use './components/badge';
@use './components/field';
@use './components/modal';

@use './themes/dark';

// page-specific styles
// @use './pages/home';
// @use './pages/catalog';
