:root {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif;
}
body {
  margin: 0;
  padding: 2rem;
}
h1 {
  margin: 0 0 1rem;
}
