@import '../abstracts/variables';

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

body {
  color: $color-gray-dark;
  background-color: $color-white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $spacing-md 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: rem(32);
}

h2 {
  font-size: rem(28);
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(20);
}

h5 {
  font-size: rem(18);
}

h6 {
  font-size: rem(16);
}

p {
  margin: 0 0 $spacing-md 0;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  margin: 0 0 $spacing-md 0;
  padding-left: 2rem;
}

li {
  margin: 0 0 $spacing-sm 0;
}
